<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="styles.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title>Doggies</title>
    </head>
    <body>
        <div id="app">
             <div class="split left">
                <h1>Select Breed</h1> 
                <div id="breeds_tiles">
                    <div v-on:click="select($event)" class="tile" v-bind:data-breed="breed.name" v-for="breed in breeds">
                        <div class="caption">{{ breed.name }}</div>
                        <div class="item">
                            <img class="bg-card-photo" v-bind:src="breed.image"/>
                            <div class="blur"></div>
                            <img class="card-photo" v-bind:src="breed.image"/>
                          </div>
                    </div>
                </div>
            </div>
              
            <div class="split right">
                <!-- <div>
                    <select v-model="selected_breed" @change="select()" class="select-css" style="width:200px; text-align: center;">
                        <option selected value>all sub-breeds</option>
                        <option v-for="breed in subbreeds">{{ breed }}</option>
                    </select>
                </div> -->
                <div v-if="selected_breed">
                    <h1>Photos of {{selected_breed.name}}</h1>
                    <div class="images">
                        <img class="image" v-bind:src="image" v-for="image in images">
                    </div>
                </div>
            </div>
        </div>    
    </body>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                selected_breed: null,
                breeds: [],
                images: [],
                subbreeds: []
            },
            created () {
                fetch('https://dog.ceo/api/breeds/list/all')
                .then(response => response.json())
                .then(json => {
                    let breeds_data = json.message
                    let breeds = Object.keys(breeds_data).map(name => ({name: name, image: null, subbreeds: breeds_data[name]}))
                    this.breeds = breeds
                    this.breeds.forEach(breed => {
                        fetch("https://dog.ceo/api/breed/" + breed.name + "/images/random")
                        .then(response => {
                            response.json()
                            .then(json => {
                                breed.image = json.message
                            }) 
                        });
                    })
                })
            },
            methods: {
                select: function(event) {
                    let breed_name = event.currentTarget.getAttribute("data-breed");
                    breed = this.breeds.find(breed => breed.name === breed_name)
                    
                    this.selected_breed = breed

                    fetch("https://dog.ceo/api/breed/" + breed_name + "/images/random/9")
                    .then(response => {
                        response.json()
                        .then(json => {
                            this.images = json.message
                        }) 
                    });
                }
            }            

        })
        
    </script>
       
</html>