body {
    background-color: #eee;
}

h1 {
    font-family: sans-serif; 
    text-align: center; 
    margin-top: 15px; 

}

#breeds_tiles {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, 160px);
    font-family: sans-serif;
    font-size: 18px;
    margin: 20px;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

/* Control the left side */
.left {
    left: 0;
    min-width: 50%;

}

/* Control the right side */
.right {
    right: 0;
    min-width: 50%;

}

div.tile {
    border: 2px solid #D3D3D3;
}

div.tile:hover {
    cursor: pointer;
    border-color: #57595d;
}
    
div.item {
    height: 150px;
    position: relative;
}

.blur {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}
  
.bg-card-photo {
    width: 100%;
    height: 100%;
}
  
.card-photo {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.caption {
    display: block;
    padding: 5px;
    text-align: center;
}

.images {
    /* Prevent vertical gaps */
    /* line-height: 0; */
    margin: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap:   10px;
    -webkit-row-gap:      10px;
    -moz-column-count:    2;
    -moz-column-gap:      10px;
    -moz-row-gap:         10px;
    column-count:         2;
    column-gap:           10px;
    row-gap:              10px;
 }
 
img.image {
    width: 100% !important;
    height: auto !important;
}


.select-css {
    width: 60px;
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;

    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
    
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
    display: none;
}

/* Hover style */
.select-css:hover {
    border-color: #888;
}
/* Focus style */
.select-css:focus {
    border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}

/* .select-css option {
    font-weight:normal;
} */